*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  border: 1px solid black;
  min-height: 100px;
  min-width: 100px;
  padding: 50px;
}